/* *************************
   Afar packages
   *************************
   
*/
/* image of cultural home */
@import './base';
.img1{
  background:url('../images/Afar/Cultral/home1.jpeg') center/cover no-repeat;
    animation: img1 13s linear infinite;
}
@keyframes img1{
  0% {
    background-image: url("../images/Afar/Cultral/home2.jpeg");
  }
  25% {
    background-image: url("../images/Afar/Cultral/home3.jpeg");
  }
  50% {
    background-image: url("../images/Afar/Cultral/home4.jpeg");
  }
  70% {
    background-image: url("../images/Afar/Cultral/home5.jpeg");
  }
  70% {
    background-image: url("../images/Afar/Cultral/home1.jpeg");
  }
}
/* endo of cultural home */
/* image of denakil deperastion */
.img2{
  background:url('../images/Afar/DenakilDepression/depression1.jpeg') center/cover no-repeat;
    animation: img2 13s linear infinite;
}
@keyframes img2{
  0% {
    background:url('../images/Afar/DenakilDepression/depression1.jpeg') center/cover no-repeat;
  }
  25% {
   background:url('../images/Afar/DenakilDepression/depression2.jpeg') center/cover no-repeat;
  }
  50% {
     background:url('../images/Afar/DenakilDepression/depression3.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Afar/DenakilDepression/depression4.jpeg') center/cover no-repeat;
  }
  100% {
     background:url('../images/Afar/DenakilDepression/depression5.jpeg') center/cover no-repeat;
  }
}
/* endo of denakil deperstion */

/* image of denakil deperastion */
.img3{
  background:url('../images/Afar/Dinknesh/dinknesh1.jpeg') center/cover no-repeat;
    animation: img3 13s linear infinite;
}
@keyframes img3{
  0% {
    background:url('../images/Afar/Dinknesh/dinknesh1.jpeg') center/cover no-repeat;
  }
  25% {
  background:url('../images/Afar/Dinknesh/dinknesh2.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Afar/Dinknesh/dinknesh3.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Afar/Dinknesh/dinknesh4.jpeg') center/cover no-repeat;
  }
  100% {
    background:url('../images/Afar/Dinknesh/dinknesh5.jpeg') center/cover no-repeat;
  }
}
/* endo of denakil deperstion */
/* image of denakil deperastion */
.img4{
  background:url('../images/Afar/Salt/minig1.jpeg') center/cover no-repeat;
    animation: img4 13s linear infinite;
}
@keyframes img4{
  0% {
   background:url('../images/Afar/Salt/minig2.jpeg') center/cover no-repeat;

  }
  25% {
  background:url('../images/Afar/Salt/minig3.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Afar/Salt/minig4.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Afar/Salt/minig5.jpeg') center/cover no-repeat;
  }
  80% {
    background:url('../images/Afar/Salt/minig6.jpg') center/cover no-repeat;
  }
  100% {
    background:url('../images/Afar/Salt/minig7.jpg') center/cover no-repeat;
  }
}

/* endo of denakil deperstion */
/* image of denakil deperastion */
.img5{
  background:url('../images/Afar/Ertale/ertale1.jpeg') center/cover no-repeat;
    animation: img5 13s linear infinite;
}
@keyframes img5{
  0% {
     background:url('../images/Afar/Ertale/ertale1.jpeg') center/cover no-repeat;
  }
  25% {
   background:url('../images/Afar/Ertale/ertale3.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Afar/Ertale/ertale4.jpeg') center/cover no-repeat;
  }
  70% {
      background:url('../images/Afar/Ertale/ertale5.jpeg') center/cover no-repeat;
  }
  100% {
    background:url('../images/Afar/Ertale/ertalw2.jpeg') center/cover no-repeat;
}
/* endo of denakil deperstion */

}
.lang{
  float:right;
  width: 10%;

  position: fixed;
  top: 0;
  right: 0;
    margin: 6rem 2rem;
}
.btuContaier{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleBook{
  border: 3px solid  $clr-red;
  color: $clr-red;
  font-weight: 900;
  transition:  $transition;
  cursor: pointer;
  padding: 0.75rem 0.85rem;
  margin: 2rem 0;
  position: fixed;
  bottom: 0;
}
.singleBook:hover{
  background-color: $navBackground-color;
  border: 3px solid transparent;
  color: $black;
}
.singleBook:active{
   transform: scale(0.9);
}


/* 
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
    Arbaminch sub packages
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
 */
 
 .sub-container1{
   background:url('../images/Arbaminch/Dorze/dorze.jpeg') center/cover no-repeat fixed;
   
  }
  
  /* image of dorze*/
  .amuImg1{
  background:url('../images/Arbaminch/Dorze/dorze.jpeg') center/cover no-repeat;
    animation: amuImg1 13s linear infinite;
}
@keyframes amuImg1{
  0% {
    background:url('../images/Arbaminch/Dorze/dorze1.jpeg') center/cover no-repeat;
    
  }
  25% {
    background:url('../images/Arbaminch/Dorze/dorze2.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Arbaminch/Dorze/dorze3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Arbaminch/Dorze/dorze.jpeg') center/cover no-repeat;
  }
 
  100% {
    background:url('../images/Arbaminch/Dorze/images.jpeg') center/cover no-repeat;
  }
}
/* endo of dorze */
 /* image of lakes */
 .amuImg2{
  background:url('../images/Arbaminch/Chamo/Abay1.jpeg') center/cover no-repeat;
    animation: amuImg2 13s linear infinite;
}
@keyframes amuImg2{
  0% {
    background:url('../images/Arbaminch/Chamo/Abay4.jpeg') center/cover no-repeat;
    
  }
  25% {
  background:url('../images/Arbaminch/Chamo/Abaya2.jpeg') center/cover no-repeat;
}
50% {
     background:url('../images/Arbaminch/Chamo/Abaya3.jpeg') center/cover no-repeat;
  }
  70% {
   background:url('../images/Arbaminch/Chamo/Abaya5.jpg') center/cover no-repeat;
  }
 
  100% {
    background:url('../images/Arbaminch/Chamo/Abya5.jpeg') center/cover no-repeat;
  }
}
/* endo of lakes */
 /* image of cultural music */
 .amuImg3{
   background:url('../images/Arbaminch/cultural/image4.jpeg') center/cover no-repeat;
    animation: amuImg3 13s linear infinite;
  }
@keyframes amuImg3{
  0% {
    background:url('../images/Arbaminch/cultural/image4.jpeg') center/cover no-repeat;
    
  }
  25% {
  background:url('../images/Arbaminch/cultural/music1.jpeg') center/cover no-repeat;
}
  50% {
    background:url('../images/Arbaminch/cultural/music2.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Arbaminch/cultural/music3.jpeg') center/cover no-repeat;
  }
  
  100% {
    background:url('../images/Arbaminch/cultural/music5.jpeg') center/cover no-repeat;
  }
}
/* endo of cultural music*/
/* image of minch*/
.amuImg4{
  background:url('../images/Arbaminch/minch/minch1.jpeg') center/cover no-repeat;
  animation: amuImg4 13s linear infinite;
}
@keyframes amuImg4{
  0% {
     background:url('../images/Arbaminch/minch/minch1.jpeg') center/cover no-repeat;
     
    }
  25% {
  background:url('../images/Arbaminch/minch/minch2.jpeg') center/cover no-repeat;
  }
  50% {
     background:url('../images/Arbaminch/minch/minch3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Arbaminch/minch/minch1.jpeg') center/cover no-repeat;
  }
  
  100% {
    background:url('../images/Arbaminch/minch/minch4.jpeg') center/cover no-repeat;
  }
}

/* endo of lakes */
/* image of nechasar */
.amuImg5{
background:url('../images/Arbaminch/Nechasar/Nechsar1.jpeg') center/cover no-repeat;

    animation: amuImg5 13s linear infinite;
  }
@keyframes amuImg5{
  0% {
    background:url('../images/Arbaminch/Nechasar/Nechsar1.jpeg') center/cover no-repeat;
    
  }
  25% {
background:url('../images/Arbaminch/Nechasar/nechsar2.jpeg') center/cover no-repeat;
}
50% {
     background:url('../images/Arbaminch/Nechasar/Nechsar3.jpeg') center/cover no-repeat;

  }
  70% {
  background:url('../images/Arbaminch/Nechasar/Nechsar4.jpeg') center/cover no-repeat;

}

100% {
  background:url('../images/Arbaminch/Nechasar/Nechsar5.jpeg') center/cover no-repeat;

  }
}

/* endo of nechsar */
 /* image of lakes */
 .amuImg6{
   background:url('../images/Arbaminch/Omo/hammer0.jpeg') center/cover no-repeat;
   animation: amuImg6 13s linear infinite;
}
@keyframes amuImg6{
  0% {
    background:url('../images/Arbaminch/Omo/hammer0.jpeg') center/cover no-repeat;
    
  }
  25% {
    background:url('../images/Arbaminch/Omo/hammer1.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Arbaminch/Omo/hammer2.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Arbaminch/Omo/hammer3.jpeg') center/cover no-repeat;
  }
 
  100% {
   background:url('../images/Arbaminch/Omo/hammer4.jpeg') center/cover no-repeat;
  }
}

/* endo of lakes */





/* 
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
   Gonder sub packages
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
*/
 .sub-container2{
   background:url('../images/Gonder/SkelaAbay/sekala4.jpeg') center/cover no-repeat fixed;
   
  }
  /* image of music */
  .gonderImg1{
   background:url('../images/Gonder/CulturalMusic/cultral4.jpeg') center/cover no-repeat;
   animation: gonderImg1 13s linear infinite;
}
@keyframes gonderImg1{
  0% {
    background:url('../images/Gonder/CulturalMusic/cultral4.jpeg') center/cover no-repeat;
    
  }
  25% {
     background:url('../images/Gonder/CulturalMusic/cultural1.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Gonder/CulturalMusic/cultural2.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Gonder/CulturalMusic/cultural3.jpeg') center/cover no-repeat;
  }
 
  100% {
  background:url('../images/Gonder/CulturalMusic/cultural5.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
 /* image of music */
 .gonderImg2{

   background:url('../images/Gonder/GonderCastle/gonderEthiopia.jpeg') center/cover no-repeat;
   animation: gonderImg2 13s linear infinite;
}
@keyframes gonderImg2{
  0% {
     background:url('../images/Gonder/GonderCastle/palace1.jpeg') center/cover no-repeat;
    
  }
  25% {
      background:url('../images/Gonder/GonderCastle/palace2.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Gonder/GonderCastle/palace3.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Gonder/GonderCastle/palace4.jpeg') center/cover no-repeat;
  }
 
  80% {
  background:url('../images/Gonder/GonderCastle/palace5.jpeg') center/cover no-repeat;
  }
  90% {
  background:url('../images/Gonder/GonderCastle/palace6.jpeg') center/cover no-repeat;
  }
  100% {
    background:url('../images/Gonder/GonderCastle/palace7.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
 /* image of music */
 .gonderImg4{
   background:url('../images/Gonder/SkelaAbay/sekala4.jpeg') center/cover no-repeat;
   animation: gonderImg4 13s linear infinite;
  }
  @keyframes gonderImg4{
    0% {
   background:url('../images/Gonder/SkelaAbay/sekala4.jpeg') center/cover no-repeat;
    
  }
  25% {
     background:url('../images/Gonder/SkelaAbay/sekela1.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Gonder/SkelaAbay/sekela2.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Gonder/SkelaAbay/sekela3.jpeg') center/cover no-repeat;
  }
 
  90% {
  background:url('../images/Gonder/SkelaAbay/sekela5.jpeg') center/cover no-repeat;
  }
  100% {
  background:url('../images/Gonder/SkelaAbay/sekela6.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
 /* image of music */
 .gonderImg3{
   background:url('../images/Gonder/SemenMountain/semen1.jpeg') center/cover no-repeat;
   animation: gonderImg3 13s linear infinite;
}
@keyframes gonderImg3{
  0% {
   background:url('../images/Gonder/SemenMountain/semen1.jpeg') center/cover no-repeat;
  }
  25% {
     background:url('../images/Gonder/SemenMountain/semen2.jpeg') center/cover no-repeat;
  }
  50% {
    background:url('../images/Gonder/SemenMountain/semen3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Gonder/SemenMountain/semen4.jpeg') center/cover no-repeat;
  }
 
  90% {
 background:url('../images/Gonder/SemenMountain/semen5.jpeg') center/cover no-repeat;
}
  100% {
 background:url('../images/Gonder/SemenMountain/semen6.jpeg') center/cover no-repeat;
  }
}

/* endo of music */


 .sub-container7{
   background:url('../images/Wolo/Lalibela/lalibela2.jpeg') center/cover no-repeat fixed;
   
  }

/* image of music */
.wolloimg1{
   background:url('../images/Wolo/Lalibela/lalibela1.jpeg') center/cover no-repeat;
   animation: wolloimg1 13s linear infinite;
}
@keyframes wolloimg1{
  0% {
   background:url('../images/Wolo/Lalibela/lalibela1.jpeg') center/cover no-repeat;
   
  }
  25% {
    background:url('../images/Wolo/Lalibela/lalibela2.jpeg') center/cover no-repeat;
  }
  50% {
     background:url('../images/Wolo/Lalibela/lalibela3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Wolo/Lalibela/lalibela4.jpeg') center/cover no-repeat;
  }
  80% {
    background:url('../images/Wolo/Lalibela/lalibela7.jpeg') center/cover no-repeat;
  }
  
  90% {
   background:url('../images/Wolo/Lalibela/lalibela5.jpeg') center/cover no-repeat;
  }
  100% {
  background:url('../images/Wolo/Lalibela/lalibela6.jpeg') center/cover no-repeat;
}
}

/* endo of music */
/* image of music */
 .wolloimg2{
   background:url('../images/Wolo/Gishen/geshen4.jpeg') center/cover no-repeat;
   animation: wolloimg2 13s linear infinite;
}
@keyframes wolloimg2{
  0% {
  background:url('../images/Wolo/Gishen/geshen4.jpeg') center/cover no-repeat
  
  }
  25% {
    background:url('../images/Wolo/Gishen/gishen1.jpeg') center/cover no-repeat
  }
  50% {
     background:url('../images/Wolo/Gishen/gishen2.jpeg') center/cover no-repeat
  }
  70% {
     background:url('../images/Wolo/Gishen/gishen3.jpeg') center/cover no-repeat
  }
 
  90% {
   background:url('../images/Wolo/Gishen/gishen1.jpeg') center/cover no-repeat
  }
  100% {
    background:url('../images/Wolo/Gishen/gishen5.jpeg') center/cover no-repeat
  }
}

/* endo of music */
/* 
🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑
Bonga package
🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑🚑
*/


.sub-container4{
  background: url('../images/Bonga/Makira/makira3.jpeg') center/cover no-repeat fixed;
}
/* image of music */
.bonimg1{
   background:url('../images/Bonga/Abajiffar/abajifar1.jpeg') center/cover no-repeat;
   animation:bonimg1 13s linear infinite;
}
@keyframes bonimg1{
  0% {
   background:url('../images/Bonga/Abajiffar/abajifar1.jpeg') center/cover no-repeat;
    
  }
  25% {
    background:url('../images/Bonga/Abajiffar/abajifar2.jpeg') center/cover no-repeat;
  }
  50% {
       background:url('../images/Bonga/Abajiffar/abajifar3.jpeg') center/cover no-repeat;
  }
  70% {
       background:url('../images/Bonga/Abajiffar/abajifar4.jpeg') center/cover no-repeat;
  }
 
  90% {
    background:url('../images/Bonga/Abajiffar/abajifar3.jpeg') center/cover no-repeat;
  }
  100% {
     background:url('../images/Bonga/Abajiffar/abajifar4.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
/* image of music */
 .bonimg2{
   background:url('../images/Bonga/bongaBarta/river1.jpeg') center/cover no-repeat;
   animation:bonimg2 13s linear infinite;
  }
@keyframes bonimg2{
  0% {
   background:url('../images/Bonga/bongaBarta/river1.jpeg') center/cover no-repeat;
    
  }
  25% {
    background:url('../images/Bonga/bongaBarta/river2.jpeg') center/cover no-repeat;
  }
  50% {
       background:url('../images/Bonga/bongaBarta/river3.jpeg') center/cover no-repeat;
  }
  70% {
       background:url('../images/Bonga/bongaBarta/river4.jpeg') center/cover no-repeat;
  }
  
  80% {
       background:url('../images/Bonga/bongaBarta/river7.jpeg') center/cover no-repeat;
  }
 
  90% {
     background:url('../images/Bonga/bongaBarta/river5.jpeg') center/cover no-repeat;
    }
  100% {
    background:url('../images/Bonga/bongaBarta/river6.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
/* image of music */
 .bonimg3{
   background:url('../images/Bonga/Denbi/denbi1.jpeg') center/cover no-repeat;
   animation:bonimg3 13s linear infinite;
  }
@keyframes bonimg3{
  0% {
   background:url('../images/Bonga/Denbi/denbi1.jpeg') center/cover no-repeat;
    
  }
  25% {
     background:url('../images/Bonga/Denbi/denbi2.jpeg') center/cover no-repeat;
  }
  50% {
       background:url('../images/Bonga/Denbi/denbi3.jpeg') center/cover no-repeat;
  }
  70% {
       background:url('../images/Bonga/Denbi/denbi4.jpeg') center/cover no-repeat;
  }
 
  100% {
   background:url('../images/Bonga/Denbi/denbi5.jpeg') center/cover no-repeat;
}
}

/* endo of music */
/* image of music */
.bonimg4{
   background:url('../images/Bonga/Makira/makira1.jpeg') center/cover no-repeat;
   animation:bonimg4 13s linear infinite;
  }
@keyframes bonimg4{
  0% {
 background:url('../images/Bonga/Makira/makira1.jpeg') center/cover no-repeat;
    
  }
  25% {
      background:url('../images/Bonga/Makira/makira2.jpeg') center/cover no-repeat;
    }
    50% {
       background:url('../images/Bonga/Makira/makira3.jpeg') center/cover no-repeat;
  }
  70% {
        background:url('../images/Bonga/Makira/makira4.jpeg') center/cover no-repeat;
  }
 
  90% {
     background:url('../images/Bonga/Makira/makira5.jpeg') center/cover no-repeat;
  }
  100% {
      background:url('../images/Bonga/Makira/makira6.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
/* image of music */
 .bonimg5{
   background:url('../images/Bonga/Wushwush/wushwush1.jpeg') center/cover no-repeat;
   animation:bonimg5 13s linear infinite;
}
@keyframes bonimg5{
  0% {
   background:url('../images/Bonga/Wushwush/wushwush1.jpeg') center/cover no-repeat;
    
  }
  25% {
     background:url('../images/Bonga/Wushwush/wushwush2.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Bonga/Wushwush/wushwush3.jpeg') center/cover no-repeat;
  }
  70% {
       background:url('../images/Bonga/Wushwush/wushwush4.jpeg') center/cover no-repeat;
      }
 
  100% {
     background:url('../images/Bonga/Wushwush/wushwush5.jpeg') center/cover no-repeat;
  }
}

/* endo of music */
/* image of music */
.bonimg6{
   background:url('../images/Bonga/Indestrial/park1.jpeg') center/cover no-repeat;
   animation:bonimg6 13s linear infinite;
}
@keyframes bonimg6{
  0% {
   background:url('../images/Bonga/Indestrial/park1.jpeg') center/cover no-repeat;
   
  }
  25% {
    background:url('../images/Bonga/Indestrial/park2.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Bonga/Indestrial/park3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Bonga/Indestrial/park4.jpeg') center/cover no-repeat;
  }
 
  100% {
     background:url('../images/Bonga/Indestrial/park5.jpeg') center/cover no-repeat;
  }
}
/* endo of music */

/* 
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
Tigray packages
🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗🚗
*/
.sub-container5{
       background:url('../images/Tigray/DebreDamo/damo5.jpeg') center/cover no-repeat fixed;
       
      }

.tigrayimg1{
   background:url('../images/Tigray/Aksum/aksum1.jpeg') center/cover no-repeat;
   animation:tigrayimg1 13s linear infinite;
}
@keyframes tigrayimg1{
  0% {
   background:url('../images/Tigray/Aksum/aksum1.jpeg') center/cover no-repeat;
   
  }
  25% {
  background:url('../images/Tigray/Aksum/aksum2.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Tigray/Aksum/aksum3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Tigray/Aksum/aksum4.jpeg') center/cover no-repeat;
  }
 
  100% {
     background:url('../images/Tigray/Aksum/aksum5.jpeg') center/cover no-repeat;
  }
}
/* endo of music */
.tigrayimg2{
    background:url('../images/Tigray/AksumTsion/tsion1.jpeg') center/cover no-repeat;
   animation:tigrayimg2 13s linear infinite;
}
@keyframes tigrayimg2{
  0% {
    background:url('../images/Tigray/AksumTsion/tsion1.jpeg') center/cover no-repeat;
   
  }
  25% {
  background:url('../images/Tigray/AksumTsion/tsion2.jpeg') center/cover no-repeat;
  }
  50% {
       background:url('../images/Tigray/AksumTsion/tsion3.jpeg') center/cover no-repeat;
  }
  70% {
     background:url('../images/Tigray/AksumTsion/tsion4.jpeg') center/cover no-repeat;
  }
 
  100% {
      background:url('../images/Tigray/AksumTsion/tsion5.jpeg') center/cover no-repeat;
  }
}
/* endo of music */
.tigrayimg3{
    background:url('../images/Tigray/AlnejashiMosque/alnejash1.jpeg') center/cover no-repeat;
   animation:tigrayimg3 13s linear infinite;
}
@keyframes tigrayimg3{
  0% {
   background:url('../images/Tigray/AlnejashiMosque/alnejash1.jpeg') center/cover no-repeat;
   
  }
  25% {
 background:url('../images/Tigray/AlnejashiMosque/alnejash2.jpeg') center/cover no-repeat;
  }
  50% {
      background:url('../images/Tigray/AlnejashiMosque/alnejash3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Tigray/AlnejashiMosque/alnejash4.jpeg') center/cover no-repeat;
  }
 
  100% {
      background:url('../images/Tigray/AlnejashiMosque/alnejash5.jpeg') center/cover no-repeat;
  }
}
/* endo of music */
.tigrayimg4{
   background:url('../images/Tigray/DebreDamo/damo1.jpeg') center/cover no-repeat;
   animation:tigrayimg4 13s linear infinite;
}
@keyframes tigrayimg4{
  0% {
  background:url('../images/Tigray/DebreDamo/damo1.jpeg') center/cover no-repeat;
   
  }
  25% {
   background:url('../images/Tigray/DebreDamo/damo2.jpeg') center/cover no-repeat;
  }
  50% {
       background:url('../images/Tigray/DebreDamo/damo3.jpeg') center/cover no-repeat;
  }
  70% {
    background:url('../images/Tigray/DebreDamo/damo4.jpeg') center/cover no-repeat;
  }
 
  100% {
     background:url('../images/Tigray/DebreDamo/damo5.jpeg') center/cover no-repeat;
  }
}
/* endo of music */
.tigrayimg5{
   background:url('../images/Tigray/Abuneyemata/Abuneyemata1.jpg') center/cover no-repeat;
   animation:tigrayimg5 13s linear infinite;
}
@keyframes tigrayimg5{
  0% {
   background:url('../images/Tigray/Abuneyemata/abuneyemata2.JPG') center/cover no-repeat
   
  }
  25% {
    background:url('../images/Tigray/Abuneyemata/Abuneyemata1.jpg') center/cover no-repeat
  }
  50% {
      background:url('../images/Tigray/Abuneyemata/abuneyemata3.jpg') center/cover no-repeat
  }
  70% {
    background:url('../images/Tigray/Abuneyemata/abuneyemata4.jpg') center/cover no-repeat
  }
 
  100% {
      background:url('../images/Tigray/Abuneyemata/abuneyemata5.jpg') center/cover no-repeat
  }
}